<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Hello User!</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p>
            This is demo for Angular Unit testing!
        </p>
        <mat-tab-group>
            <ng-container *ngIf="mumbai?.length > 0">
                <mat-tab label="MI">
                    <div class="list-head">Mumbai</div>
                    <app-player-list [playerList]="mumbai"></app-player-list>
                </mat-tab>
            </ng-container>
            <ng-container *ngIf="chennai?.length > 0">
                <mat-tab label="CSK">
                    <div class="list-head">Chennai</div>
                    <app-player-list [playerList]="chennai"></app-player-list>
                </mat-tab>
            </ng-container>
            <ng-container *ngIf="rcb?.length > 0">
                <mat-tab label="RCB">
                    <div class="list-head">Bangalore</div>
                    <app-player-list [playerList]="rcb"></app-player-list>
                </mat-tab>
            </ng-container>

        </mat-tab-group>
    </mat-card-content>
</mat-card>